* {
	border: none;
	border-radius: 0;
	font-family: SF Pro, Roboto, Helvetica, Arial, sans-serif;
	font-size: 13px;
	min-height: 24px;
}

@keyframes blink {
	to {
		background-color: #ffffff;
		color: black;
	}
}

#window,
#workspaces,
#tray,
#mpd,
#idle_inhibitor,
#backlight,
#language, 
#network,
#pulseaudio,
#temperature,
#battery,
#clock {
	margin: 8px 2px 0 2px;
	padding: 0 12px 0;
	border-radius: 28px;
	transition: none;
	color: #dedede;
	background: #383838;
	opacity: 0.9;
}


#workspaces button {
	padding: 0 2px;
}


window#waybar {
	background: transparent;
	color: white;
}
window#waybar.empty {
	background-color: transparent;
}

#battery.charging {
	color: white;
	background-color: #26A65B;
}
#battery.warning:not(.charging) {
	background: #f53c3c;
	color: white;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.modules-left > widget:first-child > #workspaces {
	margin-left: 10px;
}
.modules-right > widget:last-child > #clock {
	margin-right: 10px;
}


